name: Release to PyPi

on:
  push:
    tags: ["v?[0-9]+.[0-9]+.[0-9]+"]

jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"

      - name: Install `pypa/build`
        run: python -m pip install build

      - name: Build sdist and wheel
        run: python -m build --sdist --wheel --outdir ./dist/

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
